*{
      margin: 0;
      padding: 0;
}

.container{
      width: 1130px;
      height: 286px;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
}
.wrapper{
      width: 6780px;
      position: absolute;
      left: 0;
      transition: left 0.8s;
}
.slider{
      width: 1130px;
      height: 286px;
      border-radius: 5px;
      overflow:hidden;
      float: left;
}

.slider img{
      width: 100%;
      height: 100%;
}
/* #next_btn,#prev_btn{
      width: 52px;
      height: 52px;
}
#next_btn{
      
      background-image: url("https://static.zcool.cn/git_z/z/widget/slider/images/svg/right_arrow.svg?v=2");
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -26px;
}

#prev_btn{
    left: 0;
    background-image: url("https://static.zcool.cn/git_z/z/widget/slider/images/svg/left_arrow.svg?v=2");
    position: absolute;
    top: 50%;
    margin-top: -26px;
} */